grant
{
  permission java.io.FilePermission "${java.io.tmpdir}", "read";
  permission java.io.FilePermission "${java.io.tmpdir}/-", "read,write,delete";
  permission java.io.FilePermission "${catalina.home}/webapps/spoon/rwt-resources", "write,delete";
  permission java.io.FilePermission "${catalina.home}/webapps/spoon/rwt-resources/-", "read,write,delete";

  permission java.io.FilePermission "${java.home}/lib/-", "read";
  permission java.io.FilePermission "${catalina.home}/webapps/spoon/-", "read";
  permission java.io.FilePermission "${user.home}/.pentaho", "read";
  permission java.io.FilePermission "${user.home}/.pentaho/metastore", "read";
  permission java.io.FilePermission "${catalina.home}/lib/-", "read";
  permission java.io.FilePermission "${catalina.home}/plugins/-", "read";
  permission java.io.FilePermission "${catalina.home}/ui/-", "read";
  permission java.io.FilePermission "${catalina.home}/-", "read";
  permission java.io.FilePermission "${catalina.home}/.", "read";
  permission java.io.FilePermission "repositories.xml", "read";

  // Cassandra steps not drawn when the custom security manager is enabled #3 
  // https://github.com/HiromuHota/webspoon-docker/issues/3#issuecomment-358841639
  // permission java.io.FilePermission "/usr/share/fonts/-", "read";
  // permission java.io.FilePermission "/var/cache/fontconfig", "read";
  // permission java.io.FilePermission "${user.home}/.cache/fontconfig", "read";
  // permission java.io.FilePermission "${user.home}/.fontconfig", "read";
  // permission java.io.FilePermission "/usr/X11R6/lib/X11/fonts/TrueType", "read";
  // permission java.io.FilePermission "/usr/X11R6/lib/X11/fonts/truetype", "read";
  // permission java.io.FilePermission "/usr/X11R6/lib/X11/fonts/tt", "read";

  // For SpoonGit
  permission java.io.FilePermission "${user.home}/.gitconfig", "read";
  permission java.io.FilePermission "${user.home}/.gitignore_global", "read";
};
